<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>字體預覽</string>
		<key>appIcon</key>
		<string>FontDesigner</string>
		<key>description</key>
		<string>字體預覽</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id648963730?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>短信群發</string>
		<key>appIcon</key>
		<string>SMS2Group</string>
		<key>description</key>
		<string>快速群發短信和郵件</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/sms-to-group-group-sms-email/id638194098?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>生活筆記</string>
		<key>appIcon</key>
		<string>TinyDiaryFree</string>
		<key>description</key>
		<string>日記/迴憶/旅行日記</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id654461373?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>錶情符號</string>
		<key>appIcon</key>
		<string>ColorEmojiFree</string>
		<key>description</key>
		<string>綵色錶情，500＋的unicode符號</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id658329345?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>字體設計Pro</string>
		<key>appIcon</key>
		<string>FontDesignerPro</string>
		<key>description</key>
		<string>Custom font design</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id645489866?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>符號鍵盤</string>
		<key>appIcon</key>
		<string>Characters</string>
		<key>description</key>
		<string>500＋的符號，自定義符號鍵盤</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id662711641?mt=8</string>
	</dict>
</array>
</plist>
