<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Font Designer</string>
		<key>appIcon</key>
		<string>FontDesigner</string>
		<key>description</key>
		<string>Custom font design</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/font-Design-custom-font-designer-unicode-symbol-emoji/id648963730?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>SMS2Group</string>
		<key>appIcon</key>
		<string>SMS2Group</string>
		<key>description</key>
		<string>Fast group sms and mail</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/sms-to-group-group-sms-email/id638194098?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Daily Life</string>
		<key>appIcon</key>
		<string>TinyDiaryFree</string>
		<key>description</key>
		<string>Daily diary/Thoughts/Journal</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id654461373?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Color Emoji Free</string>
		<key>appIcon</key>
		<string>ColorEmojiFree</string>
		<key>description</key>
		<string>Color Emoji, 500+Unicode Symbols</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id658329345?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Font Designer Pro</string>
		<key>appIcon</key>
		<string>FontDesignerPro</string>
		<key>description</key>
		<string>Custom font design</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id645489866?mt=8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>Characters &amp; Symbols keyboard</string>
		<key>appIcon</key>
		<string>Characters</string>
		<key>description</key>
		<string>over 500 Characters and Symbols keyboard</string>
		<key>url</key>
		<string>itms://itunes.apple.com/us/app/id662711641?mt=8</string>
	</dict>
</array>
</plist>
